backend/tools/ementa2action/pl_actions.jsonl
backend/tools/indicators/security/MJSP/*.xlsx
backend/tools/indicators/security/MJSP.csv
backend/tools/indicators/security/*.xlsx

backend/data/*
!backend/data/.gitkeep

backend/.venv
backend/.env
.env

frontend/node_modules
frontend/dist
frontend/.next
frontend/.vite
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.vercel
frontend/.turbo

**/.vscode
**/__pycache__/
**/.pytest_cache/
**/.ipynb_checkpoints
**/*.py[cod]
.DS_Store
.idea
